%table
%br
%form#code_form{ :action => "", :method => "post" }
  %label{ :for => "input" }Code:
  %input#code{ :type => "text", :name => "input" }
  %input{ :type => "submit", :value => "Submit" }
%form#feedback_form{ :action => "", :method => "post" }
  %label{ :for => "input" }Feedback:
  %input#feedback{ :type => "text", :name => "input" }
  %input{ :type => "submit", :value => "Submit" }
